<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/static/css/projects.css">
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Zen Coding / Emmet page string -->
    <!--
section#page.flex-container>(header.flex-container>((.logo.flex-item>img[src="http://placehold.it/150x150&text=Logo"alt="logo"])+(.title.flex-item>h1{Title})+(.tools.flex-item>ul>(li>a.tool.tool-${tool $})*3)))+(nav.flex-container>a.flex-item{Nav $}*3)+(article.flex-container.content>.flex-container.flex-item.content-$*3>(.flex-item.item-${Item $}*4))+(aside.flex-container>article.flex-item{Aside article})+(footer.flex-container>.info.flex-item{Info}+.sitemap.flex-item{Sitemap}+.links.flex-item{Links}) 
-->
    <section id="page" class="flex-container">
        <header class="flex-container">
            <div class="title flex-item">
                <h1>Projects</h1>
            </div>
        </header>
        <section class="flex-container content-section">
            <article class="flex-container flex-item content content-1">
                {% for project in projectsData %}
                <button type="button" class="content-item flex-item item-1" data-toggle="modal" data-target="#{{project.id}}">
                    <div>{{project.projectName}}
                        <br>
                        <img src="{{project.imageURL}}">
                </button>
                </div>
                <!-- Modal -->
                <div id="{{project.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{project.projectName}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{project.projectDescription}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" onClick="window.open('{{project.projectLink}}');">View on GitHub</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </article>
        </section>
        </script>
        <!-- jQuery -->
        <script src="/static/vendor/jquery/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
