<!DOCTYPE html>
<html>
<head>
	<title>Projects</title>
	<link rel="stylesheet" type="text/css" href="/static/css/projects.css">
</head>
<body>


<!-- Zen Coding / Emmet page string -->
<!--
section#page.flex-container>(header.flex-container>((.logo.flex-item>img[src="http://placehold.it/150x150&text=Logo"alt="logo"])+(.title.flex-item>h1{Title})+(.tools.flex-item>ul>(li>a.tool.tool-${tool $})*3)))+(nav.flex-container>a.flex-item{Nav $}*3)+(article.flex-container.content>.flex-container.flex-item.content-$*3>(.flex-item.item-${Item $}*4))+(aside.flex-container>article.flex-item{Aside article})+(footer.flex-container>.info.flex-item{Info}+.sitemap.flex-item{Sitemap}+.links.flex-item{Links}) 
-->

<section id="page" class="flex-container">
  <header class="flex-container">
    <div class="title flex-item">
      <h1>Projects</h1>
    </div>
  </header>
  <section class="flex-container content-section">
    <article class="flex-container flex-item content content-1">
      <div class="content-item flex-item item-1">Item 1</div>
      <div class="content-item flex-item item-2">Item 2</div>
      <div class="content-item flex-item item-3">Item 3</div>
      <div class="content-item flex-item item-4">Item 4</div>
      <div class="content-item flex-item item-5">Item 5</div>
      <div class="content-item flex-item item-6">Item 6</div>
      <div class="content-item flex-item item-7">Item 7</div>
      <div class="content-item flex-item item-8">Item 8</div>
      <div class="content-item flex-item item-9">Item 9</div>
      <div class="content-item flex-item item-10">Item 10</div>
      <div class="content-item flex-item item-11">Item 11</div>
      <div class="content-item flex-item item-12">Item 12</div>
    </article>

  </section>
</body>
</html>