<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/static/css/projects.css">
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Projects (WIP)
                </h1>
            </div>
            {% for project in projectsData %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> {{' '.join(project.projectName.split()[:3])}}</h4>
                    </div>
                    <div class="panel-body" style="height:130px">
                        <p>{{' '.join(project.projectDescription.split()[:20])+"..."}}</p>
                            <button type="button" style="position: absolute;right:30px;bottom:30px;"class="btn btn-default" data-toggle="modal" data-target="#{{project.id}}">More</button>
                    </div>
                </div>
            </div>
            <div id="{{project.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{project.projectName}}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{project.projectDescription}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" onClick="window.open('{{project.projectLink}}');">View on GitHub</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        </script>
        <!-- jQuery -->
        <script src="/static/vendor/jquery/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
